.btn {
    outline: none;
    border: none;
    color: $white-color;
    cursor: pointer;
}
.btn--long {
    font-size: 1.3rem;
    font-weight: 700;
    background-color: $primary-color;
    padding: 10px;
    border-radius: 29px;

    &:hover {
        background: none;
        border: 2px solid $primary-color;
        color: $primary-color;
    }
}
.btn--small {
    color: $black-color;
    padding: 10px;
    border: 1px solid $black-color;
    border-radius: 8px;
}
.btn--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-color;
    border: 2px solid $primary-color;
    border-radius: 31px;
    padding: 30px;
}
